<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bookmark List</title>
</head>
<body>
<h1>Bookmark List</h1>
<div th:each="bookmark : ${bookmarks}">
    <p><a href="#" target="_blank" th:text="${bookmark.title}"></a></p>
    <span th:each="tag : ${bookmark.tags}">
        <span th:text="${tag.name}"></span>
    </span>
    <p th:text="${bookmark.createdDate}"></p>
</div>
</body>
</html>