name: Build And Publish Image

on:
  workflow_dispatch:

jobs:
  build:
    name: Build And Publish Image
    runs-on: ubuntu-latest
    permissions:
      packages: write

    steps:
      - uses: actions/checkout@v4

      - name: Setup Java 25
        uses: actions/setup-java@v4
        with:
          java-version: '25'
          distribution: 'zulu'
          cache: 'maven'

      - name: Cache Maven packages
        uses: actions/cache@v4
        with:
          path: ~/.m2/repository
          key: ${{ runner.os }}-maven-${{ hashFiles('**/pom.xml') }}
          restore-keys: |
            ${{ runner.os }}-maven-

      - name: Make Maven wrapper executable
        run: chmod +x mvnw

      - name: Build with Maven
        run: ./mvnw --no-transfer-progress clean verify

      - name: Build Docker Image
        run: |
          ./mvnw spring-boot:build-image -DskipTests -Dspring-boot.build-image.imageName=ghcr.io/${{ github.actor }}/jbms:latest

      - name: 'Login to GitHub Container Registry'
        uses: docker/login-action@v3
        with:
            registry: ghcr.io
            username: ${{github.actor}}
            password: ${{secrets.GITHUB_TOKEN}}

      - name: Upload docker image to GHCR
        run: |
            docker push ghcr.io/${{ github.actor }}/jbms:latest
